boto3==1.34.147
botocore==1.34.147
fastapi==0.112.2
mysql-connector-python==8.0.33  # 使用最新的穩定版本
pydantic==2.8.2
pydantic[email]==2.8.2
PyJWT==2.8.0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.7
reportlab==4.2.2
uvicorn==0.25.0  # 使用與 FastAPI 0.112.2 兼容的版本